@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<PeopleIKnow.Models.User>
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = Localizer["page title"];
    Layout = "_Layout";
}

<div id="people-pane" class="column pane is-multiline">
    <div class="table-container">
        <table class="table is-bordered is-striped is-hoverable">
            <thead>
            <tr>
                <th>@Localizer["email"]</th>
                <th>@Localizer["access"]</th>
                <th>@Localizer["admin"]</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>
                        @if (user.IsUser)
                        {
                            <a id="user-@user.Id" class="button is-success" onclick="Users.toggleRole('@user.Id', 'user')">
                                <i class="fas fa-check-circle"></i>
                            </a>
                        }
                        else
                        {
                            <a id="user-@user.Id" class="button is-danger" onclick="Users.toggleRole('@user.Id', 'user')">
                                <i class="fas fa-minus-circle"></i>
                            </a>
                        }

                    </td>
                    <td>
                        @if (user.IsAdmin)
                        {
                            <a id="admin-@user.Id" class="button is-success" onclick="Users.toggleRole('@user.Id', 'admin')">
                                <i class="fas fa-check-circle"></i>
                            </a>
                        }
                        else
                        {
                            <a id="admin-@user.Id" class="button is-danger" onclick="Users.toggleRole('@user.Id', 'admin')">
                                <i class="fas fa-minus-circle"></i>
                            </a>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script src="js/Admin.js" asp-append-version="true"></script>
    <script src="js/LoadingIndicator.js" asp-append-version="true"></script>
    <script>
        window.onresize = function() {
            const pane = document.getElementById('people-pane');
            pane.style.height = (window.innerHeight - document.getElementById('top').offsetHeight) + "px";
        }

        window.onload = function() {
            const pane = document.getElementById('people-pane');
            pane.style.height = (window.innerHeight - document.getElementById('top').offsetHeight) + "px";
        }
    </script>
}