@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Localization
@using PeopleIKnow.Localization
@inject IViewLocalizer Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = "Dashboard";
}

<div id="people-feed" class="column is-3-desktop is-full-mobile feed">
    @await Component.InvokeAsync("ContactList")
</div>

<div id="people-pane" class="column is-9-desktop is-hidden-mobile pane">
    <div class="columns is-desktop is-vcentered" style="height: 100%;">
        <div class="column">
            <h2 class="has-text-centered">@Localizer["choose a contact from the list"]</h2>
        </div>
    </div>
</div>

<button id="add-button" class="button is-success is-large" onclick="Contact.add()">
    <i class="fa fa-plus-circle"></i>&nbsp;@Localizer["new"]
</button>

<div class="modal" id="confirm-modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <article class="message is-info">
            <div class="message-header">
                @Localizer["are you sure"]
                <button class="delete"></button>
            </div>
            <div class="message-body">
                <p id="confirm-message">
                    @Localizer["user deletion confirmation"]<br/>
                </p>
                <p class="is-">
                    <a class="button is-info">@SharedLocalizer["yes"]</a>
                    <a class="button is-danger">@SharedLocalizer["no"]</a>
                </p>
            </div>
        </article>
    </div>
</div>

<div class="modal" id="successfully-saved-modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="notification is-success">
            <h3 class="title is-3">✔️ @Localizer["successfully saved"]</h3>
        </div>
    </div>
</div>

<div class="modal" id="successfully-deleted-modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="notification is-info">
            <h3 class="title is-3">✔️ @Localizer["successfully deleted"]</h3>
        </div>
    </div>
</div>

<div class="modal" id="action-failed-modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="notification is-danger">
            <h3 id="action-failed-message" class="title is-3">😱️</h3>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/dashboard.min.js" asp-append-version="true"></script>
    <script>
        window.onresize = function() {
            const feed = document.getElementById('people-feed');
            const pane = document.getElementById('people-pane');
            feed.style.height = (window.innerHeight - document.getElementById('top').offsetHeight) + "px";
            pane.style.height = (window.innerHeight - document.getElementById('top').offsetHeight) + "px";
        }

        window.onload = function() {
            const feed = document.getElementById('people-feed');
            const pane = document.getElementById('people-pane');
            feed.style.height = (window.innerHeight - document.getElementById('top').offsetHeight) + "px";
            pane.style.height = (window.innerHeight - document.getElementById('top').offsetHeight) + "px";
        }
    </script>

}