@model PeopleIKnow.Models.Contact
@{
    Layout = null;
}

<div class="card" id="contact-teaser-@Model.Id" data-contact-id="@Model.Id">
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4">@Model.FullName</p>
                <p class="subtitle is-6">@Model.EmailAddresses.First().Email</p>
            </div>
        </div>

        <div class="content">
            @if (!string.IsNullOrWhiteSpace(Model.Address))
            {
                <i class="fa fa-map-marked-alt"></i>
                @Model.Address<br/>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Employer))
            {
                <i class="fa fa-building"></i>
                @Model.Employer<br/>
            }
            @if (!string.IsNullOrWhiteSpace(Model.BusinessTitle))
            {
                <i class="fa fa-briefcase"></i>
                @Model.BusinessTitle<br/>
            }
        </div>
    </div>
</div>