@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Contact
@inject IViewLocalizer Localizer

<div class="field">
    <label class="label">@Localizer["firstname"]</label>
    <div class="control">
        <input class="input" asp-for="Firstname" type="text" placeholder="@Localizer["firstname"]">
    </div>
</div>

<div class="field">
    <label class="label">@Localizer["middlename"]</label>
    <div class="control">
        <input class="input" asp-for="Middlename" type="text" placeholder="@Localizer["middlename"]">
    </div>
</div>

<div class="field">
    <label class="label">@Localizer["lastname"]</label>
    <div class="control">
        <input class="input" asp-for="Lastname" type="text" placeholder="@Localizer["lastname"]">
    </div>
</div>
