@using Microsoft.AspNetCore.Mvc.Localization
@model Contact
@inject IViewLocalizer Localizer

@if (Model.Id == 0)
{
    <div class="panel">
        <p class="panel-heading">
            ⏰ @Localizer["reminders"]
        </p>
        <div class="panel-block">
            @Localizer["reminders save before add"]
        </div>
    </div>
}
else
{
    <div class="panel">
        <p class="panel-heading">
            ⏰ @Localizer["reminders"]
            <a class="button is-pulled-right is-small is-success" onclick="Entities.add('Reminder')">
                <i class="fa fa-plus-circle"></i>
            </a>
        </p>

        @foreach (var reminder in Model.Reminders)
        {
            <div class="panel-block">
                <label class="label">
                    @reminder.Date.ToString("dd.MM.yyyy")
                    @if (reminder.RemindMeEveryYear)
                    {
                        <i class="fas fa-sync-alt"></i>
                    }
                </label>
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input class="input" value="@reminder.Description" disabled="disabled">
                    </div>
                    <p class="control">
                        <a class="button is-warning" onclick="Entities.edit(@reminder.Id, 'Reminder')">
                            <i class="fa fa-pencil-alt"></i>
                        </a>
                    </p>
                    <p class="control">
                        <a class="button is-danger" onclick="Entities.delete(@reminder.Id, 'Reminder')">
                            <i class="fa fa-minus-circle"></i>
                        </a>
                    </p>
                </div>
            </div>
        }
    </div>
}