@model PeopleIKnow.Models.Contact
@{
    var favoriteClass = Model.IsFavorite ? "fas fa-heart" : "far fa-heart";
}
@if (string.IsNullOrEmpty(Model.ImagePath))
{
    Model.ImagePath = "images/contacts/unknown.jpg";
}
<div class="card" id="contact-teaser-@Model.Id" data-contact-id="@Model.Id">
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img src="@Model.ImagePath" alt="Profile image">
                </figure>
            </div>
            <div class="media-content">
                <span class="is-pulled-right is-4 title favorite" data-contact-id="@Model.Id">
                    <i class="@favoriteClass"></i>
                </span>
                <p class="title is-4">@Model.FullName</p>
                @if (Model.EmailAddresses != null && Model.EmailAddresses.Any())
                {
                    <p class="subtitle is-6">@Model.EmailAddresses.First().Email</p>
                }
            </div>
        </div>

        <div class="content">
            @if (!string.IsNullOrWhiteSpace(Model.Address))
            {
                <i class="fa fa-map-marked-alt"></i>
                @Model.Address<br/>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Employer))
            {
                <i class="fa fa-building"></i>
                @Model.Employer<br/>
            }
            @if (!string.IsNullOrWhiteSpace(Model.BusinessTitle))
            {
                <i class="fa fa-briefcase"></i>
                @Model.BusinessTitle<br/>
            }
        </div>
    </div>
</div>